<div class="history">
  <button id="undo" class="primary">Undo</button>
  <button id="redo" class="primary">Redo</button>
</div>
<div class="assembly-area">
  <div class="frames-wrapper" id="frames-wrapper">
    <h3>Select your frame to start</h3>
    <div class="frames-selector" id="frames"></div>
  </div>

  <div id="working-area" class="working-area">
    <img src="img.png" alt="working area">
  </div>
</div>

<template id="frame-template">
  <div class="part">
    <h3 id="frame-name">Tempalte name</h3>
    <div class="img-wrapper">
      <img id="frame-img" src="img.png" alt="img">
    </div>
    <button id="frame-select" class="primary">Select this frame</button>
    <div id="price-alert" class="inline-alert red">
      This frame is too expensive, does not fit into current max price
    </div>
  </div>
</template>