*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;
}

h3, h4 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

button.primary {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;

  &:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: #004494;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    box-shadow: none;
  }
}

.part {
  border: 1px solid gray;
  border-radius: 8px;
  background-color: white;
  padding: 8px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  &.incompatible {
    border-color: red;
  }

  > h3 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    text-align: center;
  }

  & .img-wrapper {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;

    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.inline-alert {
  color: black;
  padding: 8px;

  &.red {
    background: #FEECEB;
    border: 1px solid #F9423A;
  }

  &.yellow {
    background: #FFF4E6;
    border: 1px solid #FF9900;
  }

  &.green {
    background: #E6F2EF;
    border: 1px solid #007B5F;
  }
}