@import '../../styles/common.css';

.parts-container {
  max-height: 100%;
  overflow: auto;
  padding: 16px;
  z-index: 1;
  position: relative;

  text-align: center;
  background-color: white;
}

.section-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  & > h3 {
    margin: 24px 0 0;
  }
}

.part {
  cursor: grab;
}